# gitingnore

# dotnet 
*/.vscode
*/.vs
*/bin
*/obj
*/packages
.vscode/*
.vs/*
bin/*
obj/*
.idea/*


appsettings.json
appsettings.Development.json
*/keywords/*.csv
tmp.txt
*.bak
Firehose/stopwords_normalized.txt
Firehose/stopwords_original.txt
